[ColorEffects:Disabled]
ChangeSelectionColor=
Color=112,111,110
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=112,111,110
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate=${SURFACE_CONTAINER_HIGH_R},${SURFACE_CONTAINER_HIGH_G},${SURFACE_CONTAINER_HIGH_B}
BackgroundNormal=${SURFACE_CONTAINER_HIGH_R},${SURFACE_CONTAINER_HIGH_G},${SURFACE_CONTAINER_HIGH_B}
DecorationFocus=${PRIMARY_R},${PRIMARY_G},${PRIMARY_B}
DecorationHover=${PRIMARY_R},${PRIMARY_G},${PRIMARY_B}
ForegroundActive=${ON_SURFACE_R},${ON_SURFACE_G},${ON_SURFACE_B}
ForegroundInactive=${ON_SURFACE_VARIANT_R},${ON_SURFACE_VARIANT_G},${ON_SURFACE_VARIANT_B}
ForegroundLink=${PRIMARY_R},${PRIMARY_G},${PRIMARY_B}
ForegroundNegative=${ERROR_R},${ERROR_G},${ERROR_B}
ForegroundNeutral=${TERTIARY_R},${TERTIARY_G},${TERTIARY_B}
ForegroundNormal=${ON_SURFACE_R},${ON_SURFACE_G},${ON_SURFACE_B}
ForegroundPositive=${SECONDARY_R},${SECONDARY_G},${SECONDARY_B}
ForegroundVisited=${TERTIARY_R},${TERTIARY_G},${TERTIARY_B}

[Colors:Selection]
BackgroundAlternate=${PRIMARY_CONTAINER_R},${PRIMARY_CONTAINER_G},${PRIMARY_CONTAINER_B}
BackgroundNormal=${PRIMARY_R},${PRIMARY_G},${PRIMARY_B}
DecorationFocus=${PRIMARY_R},${PRIMARY_G},${PRIMARY_B}
DecorationHover=${PRIMARY_R},${PRIMARY_G},${PRIMARY_B}
ForegroundActive=${ON_PRIMARY_R},${ON_PRIMARY_G},${ON_PRIMARY_B}
ForegroundInactive=${ON_PRIMARY_CONTAINER_R},${ON_PRIMARY_CONTAINER_G},${ON_PRIMARY_CONTAINER_B}
ForegroundLink=${ON_PRIMARY_R},${ON_PRIMARY_G},${ON_PRIMARY_B}
ForegroundNegative=${ERROR_R},${ERROR_G},${ERROR_B}
ForegroundNeutral=${TERTIARY_R},${TERTIARY_G},${TERTIARY_B}
ForegroundNormal=${ON_PRIMARY_R},${ON_PRIMARY_G},${ON_PRIMARY_B}
ForegroundPositive=${SECONDARY_R},${SECONDARY_G},${SECONDARY_B}
ForegroundVisited=${TERTIARY_R},${TERTIARY_G},${TERTIARY_B}

[Colors:Tooltip]
BackgroundAlternate=${SURFACE_CONTAINER_HIGH_R},${SURFACE_CONTAINER_HIGH_G},${SURFACE_CONTAINER_HIGH_B}
BackgroundNormal=${SURFACE_CONTAINER_HIGH_R},${SURFACE_CONTAINER_HIGH_G},${SURFACE_CONTAINER_HIGH_B}
DecorationFocus=${PRIMARY_R},${PRIMARY_G},${PRIMARY_B}
DecorationHover=${PRIMARY_R},${PRIMARY_G},${PRIMARY_B}
ForegroundActive=${ON_SURFACE_R},${ON_SURFACE_G},${ON_SURFACE_B}
ForegroundInactive=${ON_SURFACE_VARIANT_R},${ON_SURFACE_VARIANT_G},${ON_SURFACE_VARIANT_B}
ForegroundLink=${PRIMARY_R},${PRIMARY_G},${PRIMARY_B}
ForegroundNegative=${ERROR_R},${ERROR_G},${ERROR_B}
ForegroundNeutral=${TERTIARY_R},${TERTIARY_G},${TERTIARY_B}
ForegroundNormal=${ON_SURFACE_R},${ON_SURFACE_G},${ON_SURFACE_B}
ForegroundPositive=${SECONDARY_R},${SECONDARY_G},${SECONDARY_B}
ForegroundVisited=${TERTIARY_R},${TERTIARY_G},${TERTIARY_B}

[Colors:View]
BackgroundAlternate=${SURFACE_CONTAINER_LOW_R},${SURFACE_CONTAINER_LOW_G},${SURFACE_CONTAINER_LOW_B}
BackgroundNormal=${SURFACE_CONTAINER_R},${SURFACE_CONTAINER_G},${SURFACE_CONTAINER_B}
DecorationFocus=${PRIMARY_R},${PRIMARY_G},${PRIMARY_B}
DecorationHover=${PRIMARY_R},${PRIMARY_G},${PRIMARY_B}
ForegroundActive=${ON_SURFACE_R},${ON_SURFACE_G},${ON_SURFACE_B}
ForegroundInactive=${ON_SURFACE_VARIANT_R},${ON_SURFACE_VARIANT_G},${ON_SURFACE_VARIANT_B}
ForegroundLink=${PRIMARY_R},${PRIMARY_G},${PRIMARY_B}
ForegroundNegative=${ERROR_R},${ERROR_G},${ERROR_B}
ForegroundNeutral=${TERTIARY_R},${TERTIARY_G},${TERTIARY_B}
ForegroundNormal=${ON_SURFACE_R},${ON_SURFACE_G},${ON_SURFACE_B}
ForegroundPositive=${SECONDARY_R},${SECONDARY_G},${SECONDARY_B}
ForegroundVisited=${TERTIARY_R},${TERTIARY_G},${TERTIARY_B}

[Colors:Window]
BackgroundAlternate=${SURFACE_CONTAINER_R},${SURFACE_CONTAINER_G},${SURFACE_CONTAINER_B}
BackgroundNormal=${SURFACE_R},${SURFACE_G},${SURFACE_B}
DecorationFocus=${PRIMARY_R},${PRIMARY_G},${PRIMARY_B}
DecorationHover=${PRIMARY_R},${PRIMARY_G},${PRIMARY_B}
ForegroundActive=${ON_SURFACE_R},${ON_SURFACE_G},${ON_SURFACE_B}
ForegroundInactive=${ON_SURFACE_VARIANT_R},${ON_SURFACE_VARIANT_G},${ON_SURFACE_VARIANT_B}
ForegroundLink=${PRIMARY_R},${PRIMARY_G},${PRIMARY_B}
ForegroundNegative=${ERROR_R},${ERROR_G},${ERROR_B}
ForegroundNeutral=${TERTIARY_R},${TERTIARY_G},${TERTIARY_B}
ForegroundNormal=${ON_SURFACE_R},${ON_SURFACE_G},${ON_SURFACE_B}
ForegroundPositive=${SECONDARY_R},${SECONDARY_G},${SECONDARY_B}
ForegroundVisited=${TERTIARY_R},${TERTIARY_G},${TERTIARY_B}

[General]
ColorScheme=${THEME_NAME}

[KDE]
contrast=4
